### BASE
SERVICE_NAME=account
APP_ENV=local
LOG_LEVEL=debug

### HTTP
HTTP_PORT=9000
HTTP_HOST=localhost

### DATABASE
DB_USER=username
DB_PASSWD=password
DB_NAME=dbname
DB_PORT=5432
DB_DSN=postgres://${DB_USER}:${DB_PASSWD}@localhost:${DB_PORT}/${DB_NAME}?sslmode=disable